<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <H1>Joshua Henrietta</H1>

        <H2>Finance</H2>

            <p>This is the first paragraph about me. My <em>first</em> major in <strong>Finance</strong>. I am currently a senior and taking two Finance classes.</p>

            <ul>My current Finance classes:

                <li>BMGT445</li>
                <li>BMGT446</li>

            </ul>

        <H2>Information Systems</H2>

            <p>This is the second paragraph about me. My <em>second</em> major is <strong>Information Systems</strong>. I am currently taking two Information System classes.</p>

            <ol>My current Information System classes:

                <li>BMGT407</li>
                <li>BMGT408V</li>

            </ol>

    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2023</td>
        </tr>
    </table>




</body>
</html>