<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

    <!-- This is the two levels of headers, paragraphs, and lists -->

    <h1>Joshua Henrietta</h1>

        <h2> class="header-two"Finance</h2>

            <p> class="basic" This is the first paragraph about me. My <em>first</em> major in <strong>Finance</strong>. I am currently a senior and taking two Finance classes.</p>
            <p> class="basic" This is the second paragraph about me. I am from Maryland and have been attending UMD since I was a freshman. I added Information Systems as a double major when I was a junior.</p>

            <ul>

                <li>My current Finance classes:</li>
                <li>BMGT445</li>
                <li>BMGT446</li>

            </ul>

        <h2> class="header-two"Information Systems</h2>

            <p> id="paragraph-three" This is the third paragraph about me. My <em>second</em> major is <strong>Information Systems</strong>. I am currently taking two Information System classes.</p>

            <ol>

                <li>My current Information Systems:</li>
                <li>BMGT407</li>
                <li>BMGT408V</li>

            </ol>

    <!-- This is the table with courses and semesters they were taken -->

    <table>
        <tr>
            <th>Course</th>
            <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT302</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT403</td>
            <td>Fall 2023</td>
        </tr>
    </table>

    <!-- These are all the hyperlinks to various websites -->

    <p>A link to the <a href="https://joshhenrietta.pythonanywhere.com/hello">Hello World</a>.</p>
    <p> class="new-rule" A link to my first favorite website, <a href="https://www.google.com/" target="_blank">Google</a>.</p>
    <p>A link to the <a href="https://www.wsj.com/">Wall Street Journal</a>.</p>

    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         alt="Smith Logo">

</body>
</html>